{
  "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "variable",
        "format": ["camelCase", "UPPER_CASE", "PascalCase", "snake_case"],
        "leadingUnderscore": "allow"
      }
    ],
    "@typescript-eslint/no-unused-vars": "warn",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/prefer-default-export": "off",
    "no-console": ["warn", { "allow": ["error"] }],
    "no-constant-condition": ["error", { "checkLoops": false }],
    "no-continue": "off",
    "no-debugger": "warn",
    "no-promise-executor-return": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "off",
    "no-restricted-syntax": "off",
    "no-return-assign": "off",
    "object-curly-newline": "off",
    "radix": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
